@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";
body {
	font: 20pt "Noto Sans", sans-serif;
	text-indent: 1em;
	.names {
		font-size: 2em;
		font-weight: bold;
		.name {
			&[data-sex^="f"] {
				&::after {
					content: "\2640";
				}
			}
			font-weight: inherit;
		}
		.pron {
			font-style: italic;
			font-size: 0.5em;
		}
	}
}
