@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";
body {
	font: 20pt "Noto Sans", sans-serif;
	#title {
		font-size: 3em;
		text-decoration: underline;
	}
	// #desc {}
	.pron {
		font-style: italic;
	}
}
