@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";
body {
	font: 20pt "Noto Sans", sans-serif;
	.names {
		font-size: 2em;
		.name {
			&[sex^="f"] {
				&::after {
					content: "\2640";
				}
			}
		}
		.pron {
			font-style: italic;
			font-size: 0.5em;
		}
	}
	dt {
		font-weight: bold;
	}
	dd {
		text-indent: 2em;
	}
}
